# B. USE A NORMALIZED VERSION OF THE DATA

In [1]:
# import library
import pandas as pd
import numpy as np

In [2]:
concrete_data = pd.read_csv('https://cocl.us/concrete_data')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [6]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [10]:
n_cols = predictors_norm.shape[1] # number of predictors
n_cols

8

In [11]:
# Import keras
import keras

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [12]:
from keras.models import Sequential
from keras.layers import Dense

In [13]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

## TRAIN TEST AND BUILD MODEL

In [16]:
model = regression_model()

In [17]:
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=2)

Epoch 1/50
 - 1s - loss: 1553.5178
Epoch 2/50
 - 0s - loss: 1536.0585
Epoch 3/50
 - 0s - loss: 1518.4993
Epoch 4/50
 - 0s - loss: 1500.2326
Epoch 5/50
 - 0s - loss: 1481.5362
Epoch 6/50
 - 0s - loss: 1461.8476
Epoch 7/50
 - 0s - loss: 1441.4809
Epoch 8/50
 - 0s - loss: 1419.2590
Epoch 9/50
 - 0s - loss: 1396.0425
Epoch 10/50
 - 0s - loss: 1371.3374
Epoch 11/50
 - 0s - loss: 1345.6332
Epoch 12/50
 - 0s - loss: 1318.2746
Epoch 13/50
 - 0s - loss: 1289.7706
Epoch 14/50
 - 0s - loss: 1260.0781
Epoch 15/50
 - 0s - loss: 1229.3900
Epoch 16/50
 - 0s - loss: 1197.5732
Epoch 17/50
 - 0s - loss: 1164.7309
Epoch 18/50
 - 0s - loss: 1131.7690
Epoch 19/50
 - 0s - loss: 1097.6920
Epoch 20/50
 - 0s - loss: 1062.8246
Epoch 21/50
 - 0s - loss: 1027.5753
Epoch 22/50
 - 0s - loss: 992.6665
Epoch 23/50
 - 0s - loss: 956.9092
Epoch 24/50
 - 0s - loss: 921.5021
Epoch 25/50
 - 0s - loss: 885.7997
Epoch 26/50
 - 0s - loss: 850.5467
Epoch 27/50
 - 0s - loss: 815.1827
Epoch 28/50
 - 0s - loss: 780.6123
Epoch 29/50
 - 0s - loss: 746.4981
Epoch 30/50
 - 0s - loss: 712.3888
Epoch 31/50
 - 0s - loss: 679.4316
Epoch 32/50
 - 0s - loss: 646.7247
Epoch 33/50
 - 0s - loss: 615.6538
Epoch 34/50
 - 0s - loss: 584.9852
Epoch 35/50
 - 0s - loss: 555.5944
Epoch 36/50
 - 0s - loss: 527.7378
Epoch 37/50
 - 0s - loss: 501.1689
Epoch 38/50
 - 0s - loss: 475.6184
Epoch 39/50
 - 0s - loss: 451.4447
Epoch 40/50
 - 0s - loss: 429.0071
Epoch 41/50
 - 0s - loss: 407.5399
Epoch 42/50
 - 0s - loss: 387.9386
Epoch 43/50
 - 0s - loss: 369.4599
Epoch 44/50
 - 0s - loss: 352.2870
Epoch 45/50
 - 0s - loss: 336.6917
Epoch 46/50
 - 0s - loss: 322.2562
Epoch 47/50
 - 0s - loss: 308.8722
Epoch 48/50
 - 0s - loss: 296.6375
Epoch 49/50
 - 0s - loss: 285.5341
Epoch 50/50
 - 0s - loss: 275.3075

In [18]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 264us/step

261.3912079449996

In [19]:
from sklearn.metrics import mean_squared_error

In [20]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

261.39121451057537 0.0

In [ ]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 140.2673664031291
MSE 2: 149.24689955232984
MSE 3: 110.85061136881511
MSE 4: 105.76846390017414
MSE 5: 93.40220486539081
MSE 6: 79.4953139221784
MSE 7: 85.81374144322663
MSE 8: 62.70167277314516
MSE 9: 67.5977536544059
MSE 10: 60.529888906139384
MSE 11: 52.41477487311008
MSE 12: 50.20319218311495
MSE 13: 58.520561551584784
MSE 14: 57.81362433572417
MSE 15: 52.216012738669185
MSE 16: 43.392020864394105
MSE 17: 48.63338814892815
MSE 18: 44.763094929815495
MSE 19: 44.31722292853791
MSE 20: 46.993911817235855
MSE 21: 42.41217021263147
MSE 22: 44.07539923214218
MSE 23: 42.29941184775343
MSE 24: 41.99139474665077
MSE 25: 44.70257477004166
MSE 26: 44.07719223861941
MSE 27: 42.37801259852536
MSE 28: 40.28781377304719
MSE 29: 47.77707579529401
MSE 30: 46.62853718729853
MSE 31: 46.22305013909695
MSE 32: 41.47246430529746
MSE 33: 42.368160951484754
MSE 34: 44.352474373135365
MSE 35: 42.555767590174014
MSE 36: 49.19778780643994
MSE 37: 43.722031266172344
MSE 38: 47.674623730113204
MSE 39: 44.34800121467862
MSE 40: 39.980619782383
MSE 41: 48.48803408477684
MSE 42: 39.23261088152148
MSE 43: 42.82696744307731